#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#city-border-main{
    border: 3px solid black;
    box-shadow:
        inset  0 0 15px 5px #fff,  
        inset 0 0 25px 15px #f0f, 
        inset 0 0 35px 20px #0ff;  
    background-image: url(./neon-city.jpg);
    height: 20em;
    background-size: 95% 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    
}
.city-input-type1{
    border: 3px solid black;
    width:20%;
    box-shadow: inset 0px 0px 4px 3px #f0f;
    margin: 30px 5px 30px 5px;
    height: 20px;
    border-radius: 25%;
}
.city-input-type1:hover{
    box-shadow:  0px 0px 4px 5px #f0f
}

.city-input-type2{
    border: 3px solid black;
    width:20%;
    box-shadow: inset 0px 0px 4px 3px #0ff;
    margin: 30px 5px 30px 5px;
    height: 20px;
    border-radius: 25%;
}
.city-input-type2:hover{
    box-shadow:  0px 0px 4px 5px #0ff
}


.city-button-type1{
    width: 25%;
    margin:5px;
    height: 30px;
    font-weight: bold;
    border: 3px solid black;
    font-style: italic;
}
.city-button-type1:hover{
    box-shadow:  6px 6px  #0ff;
    border: 3px solid black;
    background-color: lightgray;
    text-decoration: underline;
}

.city-button-type2{
    width: 25%;
    margin:5px;
    height: 30px;
    font-weight: bold;
    border: 3px solid black;
    font-style: italic;
}
.city-button-type2:hover{
    box-shadow:  6px 6px  #f0f;
    border: 3px solid black;
    background-color: lightgray;
    text-decoration: underline;
}
#input5{
    width: 25%;
}

@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
#city-h1-main{
    display: flex;
    width:56%;
    font-family: 'Ultra', serif;
    letter-spacing: 2px;
    align-self: center;
    border: 3px solid black;
    border-top: none;
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2%;
    padding-left: 2%;
}
.city-list-border{
    border: 3px solid black;
    height: max-content;
    box-shadow:
        inset  0 0 15px 5px #fff,  
        inset 0 0 25px 15px #f0f, 
        inset 0 0 35px 20px #0ff, 
        inset  0 0 45px 25px #fff;   
    background-color: black;
}
#city-h2-list{
    display: flex;
    width:max-content;
    font-family: 'Ultra', serif;
    letter-spacing: 2px;
    align-self: center;
    border: 3px solid black;
    border-top: none;
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2%;
    padding-left: 2%;
}

@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');
.city-h2-detail{
    display: flex;
    width:max-content;
    font-family: 'Oleo Script', cursive;
    letter-spacing: 2px;
    align-self: center;
    border: 4px solid black;
    background-color: rgba(211, 211, 211, 0.61);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow:
        inset 0 0 25px 2px #fff,  
        inset 0 0 10px 5px #0ff,
        inset 0 0 5px 5px #f0f;  
}

#city-card-container{
 display: inline-flex;
 width: 90%;
 height:auto;
 padding-bottom: 30px;
 padding-left: 10px;
 padding-left: 10px;
 overflow-x: scroll;
}
.city-card{
    flex-direction: column;
    display: inline-flex;
    width: 33%;
    margin-right: 30px;
    margin-left: 30px;
    height: auto;
    border:3px solid black;
    background-color: lightgrey;
    float: left;
    box-shadow:
        inset 0 0 8px 2px #f0f,  
        inset 0 0 16px 4px #0ff,
        inset 0 0 24px 6px #fff;  
}

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Quantico:700i&display=swap');
.city-card-title{
    flex-direction: column;
    display: inline-flex;
    align-self: center;
    font-family: 'Black Ops One', cursive;
    font-size: 150%;
    width: max-content;
    border:3px solid black;
    box-shadow:
        inset 0 0 25px 2px #fff,  
        inset 0 0 10px 5px #f0f,
        inset 0 0 5px 5px #0ff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top:5px;
    padding-right: 2%;
    padding-left: 2%;
}
.city-card-h3-cord{
    float: left;
    font-family: 'Quantico', sans-serif;
    font-size: 90%;
}
.city-card-h3{
    float: left;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Quantico', sans-serif;
    font-size: 90%;
}
.city-p{
    flex-direction: row;
    display: inline-flex;
    text-decoration: #0ff underline;
    margin: 0%;
    
}
#city-card-input{
    display: flex;
    border: 3px solid black;
    margin-left: auto;
    height: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    width:80%;
    box-shadow:  0px 0px 8px 6px #0ff;
    border-radius: 20%;
}
#city-card-input:hover{  
    box-shadow:  inset 0px 0px 8px 1px #0ff;
 
}
#city-card-btn{
    background-color: rgba(255, 0, 255, 0.30);
    border: 2px solid black;
    font-style: italic;
    height: 30px;
}
#city-card-btn:hover{
    background-color: rgba(255, 0, 255, 0.5);
    text-decoration: underline;
    font-weight: bolder;
    box-shadow:
     0 0 8px 1px #fff,  
     0 0 16px 6px #f0f,
     0 0 5px 5px #0ff;
}
.city-sub-border{
    border: 3px solid black;
    box-shadow:
        inset  0 0 15px 5px #fff,  
        inset 0 0 25px 15px #f0f, 
        inset 0 0 35px 20px #0ff;  
    background-image: url(./neon-art.png);
    background-size: 95% 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#city-h2-summary{
    display: flex;
    width:max-content;
    font-family: 'Ultra', serif;
    letter-spacing: 2px;
    align-self: center;
    border: 3px solid black;
    border-top: none;
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2%;
    padding-left: 2%;
}
